[Unit]
Description=RPi support
After=basic.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /opt/rpi_support/rpi_support.py
WorkingDirectory=/opt/rpi_support
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=3
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
